

* {
    padding:0;
    margin:0;
    font-size: 12px;
}
body {
    background: url("/Admin/ImageAdmin/bodyBg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #424242;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
}

.page {
    width: 90%;
    height:auto;
    background-color: #fff;
    margin: 56px auto 0px auto;
    border: 0px solid #496077;
    color: #424242;
    overflow:hidden;
    background: url("/Admin/ImageAdmin/bodyBg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.fixed {
    position: fixed;
    background:#A0522D;
    width: 100%; 
    color: #eeeeee;
    border-bottom: 1px solid #fff;
    z-index: 999;
    top: 0px;
    left: 0px;
    bottom: 458px;
    height:33px;
    padding:8px;
}




.main
{ 
    margin: 0px 2px 8px 5px;
    min-height: 500px;
    float:right;
    width:100%;
    height: auto;
}

.footer {
    background: url("/Images/topNav.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    clear: both;
    color: #EEEEEE;
    height: 35px;
    margin-top: 42px;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

.footer-left 
{
    float:left;
    width:40%;
}
.footer-right 
{
    float:right;
    width:50%;
    text-align:right;
    margin-right:73px;
    padding-top: 7px;
}

.message {
    position:fixed;
    top:-45px;
    left:-45px;
    z-index:999999999;
}

/*-------------------------Register User----------------------------------*/
.divUserAccount {
    background: url("/Admin/ImageAdmin/bodyBg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border:1px solid #D5D5D5;
    width: 34%;
    margin:0 auto;
    font-size:12px;
}

.input {
	font-family: Arial, Verdana; 
	font-size: 15px; 
	padding: 5px; 
	border: 1px solid gray; 
	color: #797979;
	margin-right:10px;	
	
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff', GradientType=0 );
}

.buttonBox {
    width:100%;
    text-align:center;
    padding: 10px;
}



.greenBtn {
    background: url("/Images/action/greenBtn.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #418D4F;
    color: #FFFFFF;
    width: 60px;
    height:26px;
}

.blueBtn {
    background: url("/Images/action/blueBtn.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #3581C1;
    color: #FFFFFF;
    width: 60px;
    height:26px;
}

.greenButton:hover
{
    background-color:#B41444;
    border:1px solid #B41444;
}

/*---------------------------------------Add District-------------------------------------*/
.main-div
{
    width:100%;
    height:auto;
}
.leftSide-div
{
    float:left;
    width:50%;
    height:560px;
    overflow:auto;
    border-right:1px solid gray;
}
.rightSide-div
{
    float:right;
    width:48%;
    height:560px;
}
.tgPanel
{
    border:1px solid #D5D5D5;
    height: 238px;
    width:400px;
    margin: 100px auto;
}

.tgPanelHead
{
    font-size:18px;
    padding-top:05px;
    height:35px;
    width:100%;
    text-align:center;
    background: url("/Images/leftNavBg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-bottom:05px;
    font-family:Calibri;
}


.btnStyle
{
    background: url("/Images/greyishBtn.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #4F5A68;
    color: #FFFFFF;
    padding:02px;
    font-size:10px;
}



/*-------------------------------Control Panel---------------------------------------*/
.control-panel
{
    min-height:500px;
    height:500px;
    border:1px solid #D5D5D5;
    width: 98%;
    margin-left:10px;
    padding:05px;
}
.tbl-controlPanel
{
    width: 100%;
    padding-left:22px;
}
.first-td
{
    height: 154px;
    width:116px;
    text-align:center;
}
.second-td
{
    height: 102px;
    width:116px;
    text-align:center;
}

/*hover-image*/
.boxMenu {
    border-radius: 999px;
    cursor: pointer;
    display: inline-table;
    height: 80px;
    margin: 5px 10px;
    padding: 35px;
    text-align: center;
    text-decoration: none;
    width: 80px;
}
.boxMenu a {
    color: #0A9CD2;
    cursor: pointer;
    text-decoration: none;
}
.boxMenu img {
    cursor: pointer;
    height:55px;
}
.boxMenu p {
    margin-top: 10px;
    text-align: center;
    text-decoration:none !important;
}
.boxMenu:hover {
    background-color: rgba(14, 161, 7, 0.1);
    font-weight: bold;
    text-decoration: none;
}


/*--------------------------------------Header menu-css------------------------------------------------------*/
.userNav {
    float: right;
    font-size: 11px;
    position: relative;
    margin-right: 69px;
    background-color:gray;
}
.userNav .lastNav {
    background: url("../images/navSep.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
}
.userNav ul {
    /*margin-right: 2px;*/
}
.userNav ul li {
    border-right: 1px solid #2F2F2F;
    cursor: pointer;
    display: inline;
    float: left;
    position: relative;
    height: 35px;
}
.userNav ul li:first-child {
    border-left: 1px solid #2F2F2F;
    height: 35px;
}
.userNav ul li a {
    color: #EEEEEE;
    display: block;
    float: left;
    text-decoration: none;
}
.userNav ul li:hover, .selected {
    background: none repeat scroll 0 0 #212121;
}
.userNav ul li span {
    display: block;
    float: left;
    padding: 8px 14px 8px 8px;
}
.userNav ul li img {
    display: block;
    float: left;
    padding: 13px 2px 11px 14px;
}
.userNav ul li ul {
    background: none repeat scroll 0 0 #2F2F2F;
    border: 1px solid #1D1D1D;
    display: none;
    left: -1px;
    margin-top: 0;
    padding: 0 1px 1px;
    position: absolute;
    top: 35px;
    z-index: 100;
}
.userNav ul li ul li {
    background: none repeat scroll 0 0 #212121;
    border-bottom: 1px solid #141414;
    border-right: medium none;
    border-top: 1px solid #2F2F2F;
    display: block;
    float: none;
}
.userNav ul li ul li:first-child {
    border-left: medium none !important;
}
.userNav ul li ul li a {
    color: #C5C5C5;
    float: none;
    font-size: 11px;
    font-weight: normal;
    padding: 6px 10px 7px 36px;
    text-transform: none;
    width: 100px;
}
.userNav ul li ul li a:hover {
    color: #A4A4A4;
    font-weight: normal;
}
.userNav ul li ul li:hover {
    background: none repeat scroll 0 0 #1D1D1D !important;
}
.sAdd {
    background: url("Images/master/subAdd.png") no-repeat scroll 15px 13px rgba(0, 0, 0, 0);
}
.sInbox {
    background: url("Images/master/subInbox.png") no-repeat scroll 14px 12px rgba(0, 0, 0, 0);
}
.sOutbox {
    background: url("Images/master/subOutbox.png") no-repeat scroll 14px 11px rgba(0, 0, 0, 0);
}
.sTrash {
    background: url("Images/master/subTrash.png") no-repeat scroll 14px 12px rgba(0, 0, 0, 0);
}

element.style {
    display: block;
}
.userNav ul li ul {
    background: none repeat scroll 0 0 #2F2F2F;
    border: 1px solid #1D1D1D;
    display: none;
    left: -1px;
    margin-top: 0;
    padding: 0 1px 1px;
    position: absolute;
    top: 35px;
    z-index: 100;
}
.userNav ul {
    /*margin-right: 2px;*/
}
.menu_body {
    display: none;
    padding: 12px 14px;
}
.welcome {
    float: left;
    margin-left: 65px;
}
.welcome a {
    color: #2B6893;
    text-decoration: none;
}
.welcome img {
    float: left;
    margin: 8px 8px 8px 0;
}

.welcome span {
    display: block;
    float: left;
    font-size: 15px;
    padding: 8px 5px;
    white-space: nowrap;
}
.dd {
    
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}


