/* DEFAULTS
----------------------------------------------------------*/

body   
{
    color: #424242;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    top: 0px;
    left: 0px;
    height: 467px;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 90%;
    background-color: #fff;
    margin: 70px auto 0px auto;
    border: 0px solid #496077;
    color: #424242;
    height: 393px;
}

.fixed
{
    position: fixed;
    background:#A0522D;
    width: 100%; 
    color: #eeeeee;
    border-bottom: 1px solid #fff;
    z-index: 999;
    top: 0px;
    left: 0px;
    bottom: 456px;
    height:33px;
}

.main
{
    padding: 0px 12px;
    margin: 0px 8px 8px 8px;
    min-height: 420px;
    float:right;
    width:97%;
    height: 371px !important;

}

.loginBox
{
    width:320px;
    height:212px;
    margin-left:423px;
    margin-top:90px;
    border:1px solid gray;
}
.logImg
{
    float:left;
    width:39px;
}
.txtLoging
{
    float:right;
    width:265px;
    height: 21px;
    padding:07px;
    font-family: 'Cuprum',sans-serif;
}

.hedTitle
{
    height:38px;
    position:relative;
    background:url("../Images/leftNavBg.png");
}

.title {
    background: url("../Images/darkBg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 #FFFFFF;
    height: auto;
    margin-top:0px;
    padding-top:0px;
    color:White;
    padding:09px;
}


.header ul li.iMes a span {
    border:1px solid gray;
    width:81px;
    display:inline-block;
    height:44px;
    margin-top: 9px;
    text-align:center;
}
.header ul li a span {
    display:block;
    padding: 34px 10px 0;  
    margin-left:30px;

}

.header li 
{
    display: inline;
}
.logo
{
    height:104px;
    width:104px;
}

.headerLogo
{
    float:left;
    width:30%;
    height: 99px;
    text-align: left;
    padding:1px;
}
.headerRightside
{
    float:right;
    width:60%;
}

.headerItem:hover
{
    cursor:pointer;
    color:Green;
}

#footer {
    background-color:Black;
    bottom: 0;
    clear: both;
    color: #EEEEEE;
    margin-top: 42px;
    width: 100%;
    height:35px;
    position: fixed;
    z-index: 100000;
}

.logStyle
{
    width:90%;
    height: 167px;
    padding:05px;  
}

.bottomUnderline
{
    border-bottom:1px solid gray;
}

.userNameDiv
{
    border-bottom: 1px solid #E7E7E7;
    padding: 15px 0;
    position: relative;
    height:27px;
}
.userIdDiv
{
    border-bottom: 1px solid #E7E7E7;
   padding: 15px 0;
    position: relative;
    height:27px;
}
.PasswordDiv
{
    border-bottom: 1px solid #E7E7E7;
    padding: 15px 0;
    position: relative;
    height:27px;
}
.textName
{
    float:left;
    width:20%;
    padding-left:10px;
    height: 25px;
}
.textBox
{
    float:right;
    width:75%;
    text-align: left;
}
.btnBox
{
    width:138px;
    text-align:right;
    float:right;
    padding-right:35px;
}
.textBtn
{
    width:123px;;
    float:left;
    text-align: left;
    height: 38px;
    padding-left:10px;
}

.txtBoxStyle
{
   -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D5D5;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding: 5px;
    width: 100%;
}
.btnLogin
{
    background: url("/Admin/ImageAdmin/blueBtn.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    background-color:#CCCCCC;
    border: 1px solid #4F5A68;
    color: Black;
    padding:02px;
    font-size:14px;
}
.btnLogin:hover
{
    background-position:0 -25px;  
}
.fleft
{
    float:left;
    width:777px;
    padding:05px;
    color:White;
}
.fright
{
    float:right;
    text-align:right;
    width:400px;
    padding-top:07px;
    padding-right:100px;
    color:White;
}

.style1
{
    float: right;
    width: 265px;
    height: 21px;
    padding: 07px;
    font-family: Verdana;
    color: #003366;
}

