/*html { background:url(../images/bg_body.jpg) repeat 0 0;}*/
html * { padding:0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
body {} 

#main {
    height: 1350px;
    margin: 0 auto;
    position: relative;
    width: 980px;
}
div#menu {
}
div#copyright {
    color: #222222;
    font: 11px 'Trebuchet MS';
    padding: 140px 0 0;
}
a {
    outline: 0 none;
}
#treeMenu {
    font: 14px 'Segoe UI',Helvetica,Arial,sans-serif;
    left: 15px;
    right: auto;
    top: 23px;
    width:100%;
}
#treeMenu h2 {
    color: #454545;
    font: bold 20px 'Segoe UI',Helvetica,Arial,sans-serif;
    margin-bottom: 12px;
}
#treeMenu ul {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    list-style: none outside none;
}
#treeMenu ul li {
    background: none repeat scroll 0 0 #333333;
    margin: 1px 0;
    overflow: hidden;
}
#treeMenu ul li span {
    background: url("../images/treeSplit.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 100%;
}
#treeMenu ul li a {
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
    width: 165px !important;
}
#treeMenu ul li span.opened {
    background-position: 100% -61px;
}
#treeMenu ul li div {
    clear: both;
    height: auto;
}
#treeMenu ul li li {
    background: none repeat scroll 0 0 #555555;
    clear: both;
    margin: 1px 0;
    padding-bottom: 5px;
    padding-left: 10px;
}
#treeMenu ul li li a {
    color: #fff;
    float: left;
    font-size: 13px;
    padding: 5px 0 5px 10px;
    width: auto;
}
#treeMenu ul li li a:hover {
    color:#DBEAF9;
    text-decoration: underline;
}
#treeMenu ul li li span {
    background-position: -10px -263px;
    cursor: default;
    display: inline;
    float: left;
    height: 20px;
    width: 8px;
}
#treeMenu ul li li span.closed {
    background-position: -10px -131px;
    cursor: pointer;
}
#treeMenu ul li li span.closed.opened {
    background-position: -7px -197px;
}
#treeMenu ul li li li {
    border: 0 none;
}


