

#docs-navbar{
	margin-top:50px;
	
}

#container{
	width: 293px;
	background: #22a666 none repeat scroll 0 0;
}

.demo li {
    list-style-type: none;
}
.demo li img {
  height: 150px;
  margin: 5px 10px;
  width: 240px;
}
.demo li img title {
    font-size: 18px;
}

.highlight{
	overflow: auto;
}

.heart{
	color: red;
}

.demo ul {
	margin: 0;
}
