
.TabFull {
  background: none repeat scroll 0 0 #FFFFFF;
  /*border: 1px solid #C4BB87;*/
  height: auto;
  margin: 10px;
  padding: 4px 0 12px 20px;
  width: 96%;
  float:none;
  overflow:hidden;
}


.TabFullAssignSt {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C4BB87;
  height: 108px;
  margin: 10px;
  padding: 12px 0 12px 20px;
  width: 96%;
  float:none;
}
.assignBatch {
margin: 0 auto;
overflow: hidden;
width: 500px;
}
#divNotAssign p {
background: none repeat scroll 0 0 #D2D2D2;
font-size: 13px;
font-weight: bold;
padding-left: 3px;
}
#divAssigned p {
background: none repeat scroll 0 0 #D2D2D2;
font-size: 13px;
font-weight: bold;
padding-left: 3px;
}