
/*.logo {
    text-decoration:none;
}*/

/*.logo img {
    height: 120px;
    width: 120px;
}*/


.tgPanel
{
    width:900px;
    margin: 0 auto;
    height:auto;
    background-color:white;
    -moz-box-shadow:5px rgba(35, 35, 35,0.6);
    border:1px solid #DDD9D9;/*
    background-color: #FFFFFF;
    border: 1px solid #DDD9D9 !important;
    height: auto !important;
    margin: 15px auto !important;
    width: 96% !important;*/
}

.tgPanelHead
{
    color:white;
    font-size:12px;
    font-weight:bold;
    font-family:"Open Sans",sans-serif;
     background: #23282c;
    padding: 10px;
   
    /*width:98.2%;*/
    text-align:left;
   /* background: none repeat scroll 0 0 #9E4B9E !important;
    color: #FFFFFF !important;
    font-family: anson,sans-serif,Arial !important;
    font-size: 14px !important;
    padding: 8px 10px !important;
    text-align: left !important;
    width: 98.2% !important;*/
}

/*.col1 {
    background-color: #2E9FFF !important;
    padding: 2px 10px;
}

.col2 {
    background-color: #9E4B9E;
    padding: 2px 10px;
}

.col3 {
    background-color: #F86D52;
    padding: 2px 10px;
}

.col4 {
    background-color: #9DB92D;
    border: 1px solid #9DB92D !important;
    padding: 4px 10px;
}

.col5 {
    background-color: #008191;
    padding: 2px 10px;
}

.col6 {
    background-color: #008191;
    padding: 2px 10px;
}*/

/*.tgInput input[type='text'],input[type='password'],textarea, .text
{  
    height:25px; 
    width: 100%;     
	border: solid 1px #D6D6D6; 
	outline: 0;
    color:#424242;
    padding-left:5px;
	font: normal 13px/100% Arial, Verdana, Tahoma, sans-serif; 
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); 
}*/ 


.tgInput select
{  
    height:25px;     
    width: 100%;
    color:#424242; 
	border: solid 1px #D2D2D2; 
	outline: 0; 
	font: normal 13px/100% Arial,Verdana, Tahoma, sans-serif; 
	background: -moz-linear-gradient(top, #FFF, #EAEAEA); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA)); 
    /*-webkit-appearance: none;
    -moz-appearance: none;*/
}

.CheckList{
    height:100%;
    overflow:auto;
    background: -moz-linear-gradient(top, #FFF, #EAEAEA); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA)); 
    -webkit-appearance: none;
    -moz-appearance: none;
    padding:5px 20px;    
} 
 
/*.tgInput input[type='text']:focus,input[type='password']:focus,textarea:focus, .text:hover {  
    border-color: #C9C9C9;
    border:1px solid rgba(25, 23, 23,0.7);
}*/

.tgInput textarea {
    width:100%;
    height:60px;
    padding:5px;
}

.UserButton {
    margin-left:33px;
    margin-top:4px;
}

.tgInput
{

    font-family: sans-serif,Arial;
    height: auto;
    padding: 15px 30px 15px 20px;
    text-align: left;
    /*border:1px solid #DDD9D9;*/
    width:98%;
    margin:0px auto;
}


.tgInput table
{
    border:none;
}

.tgInput tr
{
    /*border-bottom:1px solid #E8E8E8;*/
}

.tgInput tr:last-child
{
    border-bottom:none;
}

.tgInput td
{
    padding:2px 0px;
    font-size: 12px;
}

.tgInput td:first-child, .tgInput td:nth-child(3)
{
    width:105px;
    font-size: 12px;
}


.tgInput td:nth-child(5) {
     padding-left: 25px;
    padding-right: 15px;
}

.tgInput td:nth-child(4) {
    width:140px;
    font-size: 12px;
}

.tgInput td:nth-child(3)
{
    padding-left:25px;
}
.tgAttendence {
     font-family: sans-serif,Arial;
    height: auto;
    padding: 15px 30px 15px 20px;
    text-align: left;
    border:1px solid #DDD9D9;
}
    .tgAttendence tr {
         border-bottom:1px solid #E8E8E8;
    }
    .tgAttendence table {
        border:none;
    }

span.required {
    color:red;
}

.Tag-Box {
}

.Tag-Box {
    border: 1px solid #DDD9D9;
    font-family: sans-serif,Arial;
    height: auto;
    padding: 15px 30px 15px 54px;
    text-align: left;
}
.Tag-Box table {
    border: medium none;
}
.Tag-Box tr {
    border-bottom: 1px solid #E8E8E8;
}
.Tag-Box tr:last-child {
    border-bottom: medium none;
}
.Tag-Box td {
    font-size: 12px;
    padding: 2px 0;
}
.Tag-Box td:first-child, .Tag-Box td:nth-child(3) {
    font-size: 12px;
    width: 47px;
}
.Tag-Box td:nth-child(5) {
    padding-left: 15px;
    width: 95px;
}
.Tag-Box td:nth-child(4) {
    font-size: 12px;
    width: 140px;
}
.Tag-Box td:nth-child(3) {
    padding-left: 25px;
}


/*.Tag-Box input[type="text"], input[type="password"], textarea, .text {
    background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE 1px, #FFFFFF 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #D6D6D6;
    color: #424242;
    font: 13px/100% Arial,Verdana,Tahoma,sans-serif;
    height: 25px;
    outline: 0 none;
    padding-left: 5px;
    width: 100%;
}*/

.Tag-Box select {
    /*-moz-appearance: none;*/
    background: -moz-linear-gradient(center top , #FFFFFF, #EAEAEA) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #D2D2D2;
    color: #424242;
    font: 13px/100% Arial,Verdana,Tahoma,sans-serif;
    height: 25px;
    outline: 0 none;
    width: 100%;
}
/*.Tag-Box input[type="text"]:focus, input[type="password"]:focus, textarea:focus, .text:hover {
    border: 1px solid rgba(25, 23, 23, 0.7);
}*/
.Tag-Box textarea {
    height: 60px;
    padding: 5px;
    width: 100%;
}


.EmPanel
{
    width:96%;
    height:auto;
    background-color:white;
    -moz-box-shadow:5px rgba(35, 35, 35,0.6);
    border:1px solid #DDD9D9;
}


.EmPanelRight
{
    width:20%;
    float:right;
    margin-top: 5px;
}


.EmInput {
   float: left;
    font-family: sans-serif,Arial;
    height: auto;
    padding: 15px 1px 15px 18px;
    width: 75%;
}

.EmPanelHead
{
    padding:8px 10px;
    color:white;
    font-size:14px;
    font-family:anson,sans-serif,Arial;
}

/*.EmInput input[type="text"], input[type="password"], textarea, .text {
    background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE 1px, #FFFFFF 25px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #D6D6D6;
    color: #424242;
    font: 13px/100% Arial,Verdana,Tahoma,sans-serif;
    height: 25px;
    outline: 0 none;
    padding-left: 5px;
    width: 100%;
}*/

.EmInput select {
    -moz-appearance: none;
    background: -moz-linear-gradient(center top , #FFFFFF, #EAEAEA) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #D2D2D2;
    color: #424242;
    font: 13px/100% Arial,Verdana,Tahoma,sans-serif;
    height: 25px;
    outline: 0 none;
    width: 100%;
}

/*.EmInput input[type="text"]:focus, input[type="password"]:focus, textarea:focus, .text:hover {
    border: 1px solid rgba(25, 23, 23, 0.7);
}*/

.EmInput textarea {
    height: 60px;
    padding: 5px;
    width: 100%;
}

.EmInput table {
    border: medium none;
}

.EmInput tr {
    border-bottom: 1px solid #E8E8E8;
    line-height: 30px;
}

.EmInput tr:last-child {
    border-bottom: medium none;
}

.EmInput td {
    font-size: 12px;
    padding: 2px 0;
}

/*.EmInput td:first-child, .EmInput td:nth-child(3) {
    font-size: 12px;
    width: 105px;
}*/

.EmInput td:nth-child(5) {
    padding-left: 25px;
    padding-right: 15px;
}

.EmInput td:nth-child(4) {
    font-size: 12px;
    width: 225px;
}

.EmInput td:nth-child(3) {
    padding-left: 25px;
    width:120px;
}

/*-----------------------privilege Control-----------------------------*/
.privilegeControl {
    width:100%;
    height:50px;
    /*margin-left:455px;*/
}

.chkControl {
    padding-right:10px;
}


/*------------------------Student Attendance--------------------------*/

#tblStudentAttendance {
    width:100%;
    border:1px solid gray;
    font-size: 12px;
    border-collapse: collapse;
}

#tblStudentAttendance tbody tr th {
    background-color:#23282C;
    color:white;
    text-align: left;
    width:60px;
}

#tblStudentAttendance tbody tr td {
   border:1px solid gray;
}

#tblStudentAttendance tbody tr td:nth-child(1) {
   width:150px;
   color:red;

    
}
#tblStudentAttendance tbody tr td input[type='text'] {
    border: 1px solid gray;
    font-size: 11px;
    padding: 3px;
    width:100%;
}

/*------------------------------Set roll and optional subject for class nine-----------------------------*/
#tblSetRollOptionalSubject {
    width:72%;
    border:1px solid gray;
    font-size: 12px;
    border-collapse: collapse;
}
#tblSetRollOptionalSubject tbody tr th {
    background-color:black;
    color:white;
    text-align: left;
    width:150px
}
#tblSetRollOptionalSubject tbody tr td {
   border:1px solid gray;
}
#tblSetRollOptionalSubject tbody tr td:nth-child(1) {
   width:50px;
   color:red;
   text-align:center;
}
#tblSetRollOptionalSubject tbody tr td:nth-child(2) {
   width:260px;
   
}

/*--------------------------Marks entry Point ------------------------------------ */

#tblMarkEntryPoint {
    width:auto;
    border:1px solid gray;
    font-size: 12px;
    border-collapse: collapse;
}
#tblMarkEntryPoint tbody tr th {
    background-color: #E1E8F0;
    color: #4a4848;
    text-align: left;
    width: 60px;
    border: 1px solid #c1bfbf;
    
}

#tblMarkEntryPoint tbody tr td {
         border:1px solid #c1bfbf;
         background-color: #EDECEA;
           
}

#tblMarkEntryPoint tbody tr td:nth-child(1) {
   width:100px;
   color:red;
   text-align:center;
}
.vertical-th {
  transform: rotate(-90deg);
}
.fiedSet {
    border:1px solid #D2D2D2;
    width:200px;
    height:200px;
    padding:5px;
}

.leftContentRoutine {
    float:left;
    height:540px;
    width:29%;
    border:1px solid #D2D2D2;
    font-family: georgia;  
}
.rightContentRoutine {
    float:left;
    height:540px;
    width:70%;
    border:1px solid #D2D2D2;
    font-family: Times New Roman;
}
.headerRoutine {
    border-bottom: 1px solid #D2D2D2;
    font-family: Times New Roman;
    font-size: 20px;
    height: 37px;
    margin-top: 10px;
    text-align: center;
}
.divTop {
    border-bottom: 1px solid #D2D2D2;
    padding:5px;
}

.divTop table tr td:first-child {
    width:100px;
}

.dropDownListRoutine {
   width:120px;
   border:1px solid #D2D2D2;
   padding:5px;
}

.clock {
  background: #fff none repeat scroll 0 0;
  border-bottom: 2px solid #1FB5AD;
  color: #000;
  line-height: 28px;
  margin: 0 auto;
  overflow: hidden;
  padding: 14px;
}
#Date {
  color: #1fb5ad;
  float: left;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
.clock-time {
  margin-bottom: 0;
  margin-left: 25px;float:right;
  font-size: 36px;
}
.clock-time ul {margin:0 auto; padding:0px; list-style:none; text-align:center; }
.clock-time ul li {
  border-radius: 5px;
  color: #1FB5AD;
  display: inline;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
#point { position:relative; padding-left:10px; padding-right:10px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}




@media (max-width: 767px) {
    label {
      display: inline-block;
      font-weight: 700;
      margin-bottom: 0;
      margin-left: 5px;
      width: 100%;
    }
    .form-group {
      margin-bottom: 5px;
    }
#Date {
  float: none;
  font-size: 25px;
}
.clock-time {
    float:none;
    font-size: 25px;

}
}
.sub_mini_icon {

font-size: 30px;
height: 40px !important;
line-height: 31px!important;
width: 40px!important;
}
.sub_mini_info {
  line-height: 38px !important;
}
.sub_mini_info span {
  font-size: 14px !important;
}
.sub_mini_stat {
  background: none repeat scroll 0 0 #fff;
  border-radius: 3px;
  margin-bottom: 20px;
  padding:10px 20px !important;
}
.mini_stat_sub_icon::before {
  background: none repeat scroll 0 0 #fff;
  content: "";
  height: 20px;
  left: 48%;
  position: absolute;
  transform: rotate(45deg);
  width: 20px;
  top: 92px;
}
.mini_stat_sub_icon{

}
.sub_mini_orange{
    background:#fff !important;
    border:1px solid #FA8564;
}
.sub_mini_mediumpurple{
    background:#fff !important;
    border:1px solid #A48AD4;
}
.sub_mini_forestgreen {
    background:#fff !important;
    border:1px solid #AEC785;
}

.btn3d {
    border: 0 none;
    outline: medium none;
    position: relative;
    transition: all 0.08s linear 0s;
}
.btn3d:focus {
    outline: medium none;
}
.btn3d:active {
    top: 3px;
}
.custom_menu_btn {
  background-color: #fff;
  box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #F58465, 0 4px 0 1px rgba(164, 138, 212, 0.4), 0 0px 2px -2px rgba(0, 0, 0, 0.5);
  text-align: left;
}
.custom_menu_btn_acedemic {
  background-color: #fff;
  box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #F58465, 0 4px 0 1px rgba(164, 138, 212, 0.4), 0 0px 2px -2px rgba(0, 0, 0, 0.5);
  text-align: left;
}
.custom_menu_btn_administration {
  background-color: #fff;
  box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #1FB5AC, 0 4px 0 1px rgba(164, 138, 212, 0.4), 0 0px 2px -2px rgba(0, 0, 0, 0.5);
  text-align: left;
}
.custom_menu_btn_report {
  background-color: #fff;
  box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #A48AD4, 0 4px 0 1px rgba(164, 138, 212, 0.4), 0 0px 2px -2px rgba(0, 0, 0, 0.5);
  text-align: left;
}
.custom_menu_btn_notification {
  background-color: #fff;
  box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #AEC785, 0 4px 0 1px rgba(164, 138, 212, 0.4), 0 0px 2px -2px rgba(0, 0, 0, 0.5);
  text-align: left;
}
.custom_menu_btn:hover{
    background:#ffffe6;
}



.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
code {
    font-size: 80%;
}
